In [1]:
def reverse_string(input_string):
 
    reversed_string = input_string[::-1]
    return reversed_string

# Get user input
input_string = input("Enter a string: ")

# Call the function to reverse the string
reversed_result = reverse_string(input_string)

# Print the reversed string
print("Reversed string:", reversed_result)

Enter a string:  nidhi

Reversed string: ihdin

In [8]:
def is_palindrome(input_string):
    
    cleaned_string = ''.join(input_string.split()).lower()
    
    return cleaned_string == cleaned_string[::-1]

input_str = input("Enter a string: ")

if is_palindrome(input_str):
    print("the string is palindrome.")
    
else:
    print("the string is not a palindrome.")

Enter a string:  racecar

the string is palindrome.

In [12]:
# Get user input
user_input = input("Enter a string: ")

# Convert the string to uppercase
uppercase_string = user_input.upper()

# Print the uppercase string
print("Uppercase version:", uppercase_string)

Enter a string:  niki

Uppercase version: NIKI

In [14]:
# Get user input
user_input = input("Enter a string: ")

# Convert the string to uppercase
lowercase_string = user_input.lower()
print("lowercase version:", lowercase_string)

Enter a string:  NIKI

lowercase version: niki

In [11]:
def count_vowels(input_str):
    
    vowels = set("aeiouAEIOU")
    
    count = 0
    
    for char in input_string:
        if char in vowels:
            count +=1
    return count
input_string = input("enter the string: ")
vowels_count = count_vowels(input_string)
print("number of the vowels in the string:" , vowels_count)

enter the string:  nikita

number of the vowels in the string: 3

In [22]:
def count_consonants(input_str):
    
    vowels = set("aeiouAEIOU")
    
    count_consonants = 0
    
    for char in input_string:
        if char not in vowels:
            count_consonants +=1
    return count_consonants
input_string = input("enter the string: ")
consonants_count = count_consonants(input_string)
print("number of the consonants in the string:" , consonants_count)

enter the string:  nikitayadav

number of the consonants in the string: 6

In [24]:
def remove_whitespace(input_str):
    result_str = input_str.replace(" ", "").replace("\t", "").replace("\n", "").replace("\r", "")
    return result_str
input_string = "Hello   \tWorld\n"
result = remove_whitespace(input_string)
print("String whitespaces removed:", result)

String whitespaces removed: HelloWorld

In [4]:
def string_length(input_str):
    length = 0
    for char in input_str:
        length +=1
    return length
input_str = input("enter the str:")
length = string_length(input_str)
print("length",length)

enter the str: niki

length 4

In [10]:
def contains_word(input_string, target_word):
    return target_word in input_string
input_string = "Hello, World! "
target_word = "Hello"
if contains_word(input_string, target_word):
    print(f"The string contains the word '{target_word}'.")
else:
    print(f"The string does not contain the word '{target_word}'.")

The string contains the word 'Hello'.

In [11]:
def replace_word(input_string, old_word, new_word):
    result_string = input_string.replace(old_word, new_word)
    return result_string
input_string = "Hello, World! This is a test."
old_word = "test"
new_word = "example"
result = replace_word(input_string, old_word, new_word)
print("Original string:", input_string)
print("Modified string:", result)

Original string: Hello, World! This is a test.
Modified string: Hello, World! This is a example.

In [12]:
def count_word_occurrences(input_string, target_word):
    words = input_string.split()
    count = 0
    for word in words:
        if word == target_word:
            count += 1
    
    return count
input_string = "This is an example. This is another example. This is a third example."
target_word = "example"
occurrence_count = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {occurrence_count} times in the string.")

The word 'example' appears 0 times in the string.

In [21]:
def find_first_occurrence(input_string, target_word):
    index = input_string.find(target_word)
    return index
input_string = "This is an example. This is another example. This is a third example."
target_word = "example"
index = find_first_occurrence(input_string, target_word)

if index != -1:
    print(f"The first occurrence of '{target_word}' starts at index {index}.")
else:
    print(f"'{target_word}' not found in the string.")

The first occurrence of 'example' starts at index 11.

In [23]:
def find_last_occurrence(input_string, target_word):
    index = input_string.rfind(target_word)
    return index

# Example usage:
input_string = "This is an example. This is another example. This is a third example."
target_word = "example"
index = find_last_occurrence(input_string, target_word)

if index != -1:
    print(f"The last occurrence of '{target_word}' starts at index {index}.")
else:
    print(f"'{target_word}' not found in the string.")

The last occurrence of 'example' starts at index 61.

In [5]:
def split_words(input_str):
    words = input_str.split()
    
    return words
input_str = input("enter the str:")
split_words(input_str)

enter the str: niki is good girl

['niki', 'is', 'good', 'girl']

In [20]:
def join_words():
    y = " ".join(input_str)
    
    return y
input_str = input("enter the word:")
join_words()

enter the word: niki is girl

'n i k i   i s   g i r l  '

In [22]:
def spaces_to_underscores(input_string):
    # Replace spaces with underscores
    result_string = input_string.replace(" ", "_")
    return result_string

# Example usage:
input_string = "This is a sample string with spaces."
result = spaces_to_underscores(input_string)
print("Result using str.replace():", result)

Result using str.replace(): This_is_a_sample_string_with_spaces.

In [1]:
def starts_with(text, prefix):
    # Step 1: Use the startswith() method to check if the text starts with the specified prefix.
    is_start = text.startswith(prefix)

    # Step 2: Return the result of the check.
    return is_start

# Example usage
text = "Hello, world!"
prefix = "Hello"
result = starts_with(text, prefix)
if result:
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

The text starts with the prefix.

In [2]:
def ends_with(text, suffix):
  
    is_end = text.endswith(suffix)

    return is_end

# Example usage
text = "Hello, world!"
suffix = "world!"
result = ends_with(text, suffix)
if result:
    print("The text ends with the suffix.")
else:
    print("The text does not end with the suffix.")

The text ends with the suffix.

In [3]:
def convert_to_title_case(text):
 
    title_case_text = text.title()


    return title_case_text
text = "hello world"
title_case_result = convert_to_title_case(text)
print("Title case:", title_case_result)

Title case: Hello World

In [4]:
def find_longest_word(text):
   
    words = text.split()

  
    longest_word = ""
    max_length = 0

    for word in words:
 
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word

    return longest_word

text = "This is an example sentence with some long words."
longest_word = find_longest_word(text)
print("Longest word:", longest_word)

Longest word: sentence

In [5]:
def find_shortest_word(text):
  
    words = text.split()

    shortest_word = None
    min_length = float('inf')

    for word in words:

        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word

    return shortest_word

text = "This is an example sentence with some short words."
shortest_word = find_shortest_word(text)
print("Shortest word:", shortest_word)

Shortest word: is

In [6]:
def is_alphanumeric(text):
    return text.isalnum()

# Example usage
text = "Hello123"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

In [2]:
def extract_digits(text):

    digits = ""

    for char in text:

        if char.isdigit():

            digits += char
    return digits

# Example usage
text = "Hello123456"
extracted_digits = extract_digits(text)
print("Extracted digits:", extracted_digits)

Extracted digits: 123456

In [3]:
def extract_alpha(text):

    alpha = ""

    for char in text:

        if char.isalpha():

            alpha += char
    return alpha

# Example usage
text = "Hello123456"
extract_alpha = extract_alpha(text)
print("Extracted digits:", extract_alpha)

Extracted digits: Hello

In [4]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count

input_string = "HelloWORLD"
result = count_uppercase(input_string)
print(result)

6

In [5]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count

input_string = "HelloWORLD"
result = count_lowercase(input_string)
print(result)

4

In [6]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string

# Example input string
input_string = "HelloWORLD"
result = swap_case(input_string)
print(result)

hELLOworld

In [8]:
def remove_word(input_string, word_to_remove):
    words = input_string.split()  
    filtered_words = [word for word in words if word != word_to_remove]  
    modified_string = ' '.join(filtered_words)  
    return modified_string
input_string = "Hello , welcome to the world of programming."
word_to_remove = "welcome"
result = remove_word(input_string, word_to_remove)
print(result)

Hello , to the world of programming.

In [10]:
import re 

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$' 
    if re.match(pattern, email):
        return True
    else:
        return False
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [11]:
def extract_username(email):
    username = email.split('@')[0] 
    return username
email = "example@email.com"
result = extract_username(email)
print(result)

example

In [12]:
def extract_domain(email):
    domain = email.split('@')[1] 
    return domain
email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

In [13]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  
    return cleaned_string

input_string = "Hello     world!   "
result = replace_multiple_spaces(input_string)
print(result)

Hello world!

In [14]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  
    except ValueError:
        return False


url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  
print(result2)

True
False

In [15]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
 
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [16]:
def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initialize the frequency count to 1 if the character is not in the dictionary

    return frequency

# Example string
input_str = "hello world"

# Calculate character frequencies
char_freq = character_frequency(input_str)
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

In [1]:
import string

def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)
    clean_string = input_string.translate(translator)

    return clean_string
input_str = "Hello, world! How's it going?"
cleaned_str = remove_punctuation(input_str)
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [4]:
def contains_only_digits(input_string):
    return input_string.isdigit()
string1 = "12345"
string2 = "Hello123"
result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)

'12345' contains only digits: True
'Hello123' contains only digits: False

In [5]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()
string1 = "Hello"
string2 = "Hello123"
string3 = "12345"
result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)
print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'12345' contains only alphabets: False

In [7]:
def string_to_list(input_string):
    char_list = list(input_string)
    return char_list

# Example string
input_str = "Hello"
char_list = string_to_list(input_str)
print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello
List of characters: ['H', 'e', 'l', 'l', 'o']

In [3]:
def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [12]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """
  encoded_text = ""
  for char in text:
    if char.isalpha():
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      encoded_char = char
    encoded_text += encoded_char
  return encoded_text
text = "Hello, world!"
shift = 3
encoded_text = caesar_cipher(text, shift)
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [13]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char
         # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [14]:
import re

def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = set(clean_string.split())

    return words

input_str = "Hello world, hello there! How's the world?"
unique_word_set = unique_words(input_str)
print("Unique words:", unique_word_set)

Unique words: {'hello', 'hows', 'there', 'world', 'the'}

In [15]:
import re
from collections import Counter

def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = clean_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word
input_str = "Hello world, hello there! How's the world?"
most_common = most_frequent_word(input_str)
print("Most frequent word:", most_common)

Most frequent word: hello

In [19]:
import re

def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)

string1 = input("enter the str: ")
result1 = contains_special_characters(string1)
print(f"'{string1}' contains special characters:", result1)

enter the str:   nikita&nidhi@

' nikita&nidhi@' contains special characters: True

In [22]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [23]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []

    for line in lines:
        fields = line.split(',')
        result.append(fields)

    return result
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
list_of_lists = csv_string_to_list(csv_data)
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [2]:
#TUPLE

In [1]:

my_tuple = (10, 20, 3, 4, 5)
third_element = my_tuple[2]
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 3

In [5]:

my_tuple = (10, 20, 30, 40, 50)
count = 0
for _ in my_tuple:
    count += 1
print("The length of the tuple is:", count)

The length of the tuple is: 5

In [6]:

my_tuple = (10, 20, 30, 20, 40, 50, 20)
element_to_count = 20
count = 0
for item in my_tuple:
    if item == element_to_count:
        count += 1
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

In [7]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50)
element_to_find = 20
index = -1 
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break 
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

In [8]:
my_tuple = (10, 20, 30)
element_to_check = 30
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

In [9]:

my_tuple = (10, 20, 30)
my_list = list(my_tuple)
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

In [10]:
my_list = [10, 20, 30, 40, 50]
my_tuple = tuple(my_list)
print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

In [11]:

my_tuple = (10, 20, 30)
var1, var2, var3 = my_tuple
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [12]:
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [11]:
for num in range(2,11,2):
    print(num)

2
4
6
8
10

In [13]:

odd_numbers_list = [num for num in range(1, 10, 2)]  
odd_numbers_list = tuple(odd_numbers_list)
print("Tuple of even numbers:", odd_numbers_list)

Tuple of even numbers: (1, 3, 5, 7, 9)

In [14]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [15]:

original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [16]:

empty_tuple = ()
non_empty_tuple = (1, 2, 3)
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

In [14]:

nested_tuple = ((1, 2, ), ( 'b', 'c'), (True, False))
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2), ('b', 'c'), (True, False))

In [18]:

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
first_element = nested_tuple[0]
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

In [15]:

single_element_tuple = (42,) 
print("Single element tuple:", single_element_tuple)

Single element tuple: 42

In [16]:

tuple1 = (1, 2, 3, 4 ,5 ,6)
tuple2 = (1, 2, 4, 7, 8 , 9)

print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)   
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [18]:
x = (3,4)
del x
print(x)

NameError: name 'x' is not defined

In [20]:

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple = my_tuple[2:9] 
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6, 7, 8, 9)

In [21]:
# Step 1: Create a tuple
my_tuple = (10, 2, 5, 4, 3)
max_value = max(my_tuple)
print("Maximum value:", max_value)

Maximum value: 10

In [22]:
my_tuple = (10, 2, 5, 4, 3)
max_value = min(my_tuple)
print("Maximum value:", max_value)

Maximum value: 2

In [24]:

my_string = "Hello !!!!"
tuple_of_char = tuple(my_string)
print("Tuple of characters:", tuple_of_char)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ' ', '!', '!', '!', '!')

In [40]:
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')
string_from_tuple =''.join(tuple_of_characters)
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

In [28]:

mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [31]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [35]:

my_tuple = (5, 2, 8, 1, 3)
sorted_tuple = tuple(sorted(my_tuple))
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

In [36]:
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

In [37]:

tuple_of_strings = ('10', '20', '30', '40', '50')
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

In [5]:

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [4]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
nested_tuple = ((1, 2),  (6, (7, 8)))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 6, 7, 8)

In [3]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
        else:
            num = num+1
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 9)

In [7]:
def is_palindrome(tup):
    tup == tup[::-1]
    return (tup)
palindrome_tuple = (1, 2, 3, 2, 1)

is_palindrome1 = is_palindrome(palindrome_tuple)

print("palindrome_tuple is a palindrome:", is_palindrome1)

palindrome_tuple is a palindrome: (1, 2, 3, 2, 1)

In [8]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [11]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

In [12]:
original_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(num * 2 for num in original_tuple)
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

In [13]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  
print("Random tuple:", random_tuple)

Random tuple: (22, 43, 61, 21, 34, 80, 70, 66, 64, 61)

In [14]:
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [15]:
def rotate_tuple_left(tup, n):
    n = n % len(tup) 
    rotated_tuple = tup[n:] + tup[:n] 
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [16]:
def rotate_tuple_right(tup, n):
    n = n % len(tup) 
    rotated_tuple = tup[-n:] + tup[:-n]
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [18]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [20]:

input_str = input("Enter elements separated by commas: ")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter elements separated by commas:  e,m,k

User input tuple: ('e', 'm', 'k')

In [25]:

my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3
swapped_tuple = tuple( 
    my_tuple[i] if i not in (index1, index2) else #  eg:1 , 3, 5
    my_tuple[index2] if i == index1 else #eg: 2
    my_tuple[index1] # eg :4
    for i in range(len(my_tuple))
)
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [29]:
my_tup = (4,8,9)
i1=0
i2=2
swap_tup = tuple(
    my_tup[i] if i not in(i1,i2) 
    else my_tup[i2] if i == i1 else
    my_tup[i1]
    for i in range(len(my_tup))
)
print("Swapped tuple:", swap_tup)

Swapped tuple: (9, 8, 4)

In [30]:

my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [31]:
n = 8
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 8 powers of 2: (1, 2, 4, 8, 16, 32, 64, 128)

In [35]:
string_tuple = ("apple", "banana", "grape", "orange")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)
print("Longest string:", longest_string)

Longest string: banana

In [36]:

string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
shortest_string = min(string_tuple, key=len)
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [37]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [38]:

def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [40]:

n = 10
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
#LIST

In [1]:
int_list = [i for i in range(1, 11)]
print(int_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count

# Example list
my_list = [10, 20, 30, 40, 50]

# Find the length of the list using the custom_len function
length = custom_len(my_list)

# Print the length of the list
print("Length of the list:", length)

Length of the list: 5

In [3]:

my_list = [10, 20, 30]
new_element = 40
my_list.append(new_element)
print("Updated list:", my_list)

Updated list: [10, 20, 30, 40]

In [5]:
my_list = [10, 20, 30, 40, 50]
my_list.insert(2,26)
print(my_list)

[10, 20, 26, 30, 40, 50]

In [11]:
my_list = [10, 20, 30, 40, 50]
my_list.remove(20)
print(my_list)

[10, 30, 40, 50]

In [12]:
my_list = [10, 20, 30, 40, 50]
my_list.pop(2)
print(my_list)

[10, 20, 40, 50]

In [13]:
# Example list
my_list = [10, 20, 30, 40, 50]
element_to_check = 30
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

30 exists in the list.

In [14]:

my_list = [10, 20, 30, 40, 50, 30]
element_to_find = 30
index = my_list.index(element_to_find)
print(f"The index of {element_to_find} is {index}")

The index of 30 is 2

In [15]:
my_list = [10, 20, 30, 40, 50, 30]
element_to_count = 30
count = my_list.count(element_to_count)
print(f"The index of {element_to_count} is {count}")

The index of 30 is 2

In [19]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Reverse the order of elements in the list
l1 = my_list[::-1]

# Print the reversed list
print("Reversed list:", l1)

Reversed list: [50, 40, 30, 20, 10]

In [20]:

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

In [21]:
my_list = [50, 10, 30, 40, 20]
my_list.sort()
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [10, 20, 30, 40, 50]

In [23]:
my_list = [50, 10, 30, 40, 20]
my_list.sort(reverse=True)
print("Sorted list in descending order:", my_list)

Sorted list in descending order: [50, 40, 30, 20, 10]

In [24]:
even_numbers = [x for x in range(2, 21, 2)]
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
odd_numbers = [x for x in range(1, 20, 2)]
print("List of even numbers:", odd_numbers)

List of even numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [26]:
my_list = [10, 20, 30, 40, 50]
total_sum = sum(my_list)
print("Sum of elements:", total_sum)

Sum of elements: 150

In [27]:
my_list = [10, 20, 30, 40, 50]
max_value = max(my_list)
print("Maximum value:", max_value)

Maximum value: 50

In [28]:
my_list = [10, 20, 30, 40, 50]
min_value = min(my_list)
print("Maximum value:", min_value)

Maximum value: 10

In [29]:
squares = [x ** 2 for x in range(1, 11)]
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
import random
random_integers = [random.randint(1, 10) for _ in range(10)]
print("List of random integers:", random_integers)

List of random integers: [1, 3, 6, 10, 4, 1, 9, 10, 8, 9]

In [32]:

my_list = [10, 20, 30, 20, 40, 10, 50, 30]
unique_list = list(set(my_list))
print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 30]

In [33]:
def common_member(a, b):
    result = [i for i in a if i in b]
    return result
 
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
 
print("The common elements in the two lists are: ")
print(common_member(a, b))

The common elements in the two lists are:
[5]

In [34]:

list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
difference = list(set(list1).difference(list2))
print("Difference between lists:", difference)

Difference between lists: [20, 10]

In [35]:
list1 = [10, 20, 30]
list2 = [40, 50, 60]
merged_list = list1 + list2
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

In [36]:
# Example list
my_list = [10, 20, 30, 40, 50]
multiplied_list = [i * 2 for i in my_list]
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

In [37]:

lis = [1, 2, 3, 4, 5]
out = []
 
for num in lis:
    if num % 2 == 0:
        out.append(num)
print(out)

[2, 4]

In [38]:
string_list = ["10", "20", "30", ]
integer_list = [int(x) for x in string_list]
print("List of integers:", integer_list)

List of integers: [10, 20, 30]

In [41]:
integer_list = [10, 20, 30, 40, 50]
string_list = [str(x) for x in integer_list]
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

In [42]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
def generate_fibonacci(n):
    fibonacci = [0, 1] 
    while len(fibonacci) < n: 
        next_number = fibonacci[-1] + fibonacci[-2]  
        fibonacci.append(next_number) 
    return (fibonacci) 
fibonacci_list = generate_fibonacci(5)
print(fibonacci_list)

[0, 1, 1, 2, 3]

In [5]:
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True
ascending_list = [10, 20, 30, 40, 50]
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [4]:
def rotate_left(lst, n):
    n = n % len(lst)  
    rotate_left = lst[n:] + lst[:n]
    return rotate_left
my_list = [1, 2, 3, 4, 5, 6]
n = 2
rotated_list = rotate_left(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [6]:
def rotate_right(lst, n):
    n = n % len(lst)  
    rotate_right = lst[-n:] + lst[:-n]
    return rotate_right
my_list = [1, 2, 3, 4, 5, 6]
n = 2
rotated_list = rotate_right(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [3]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2,50) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
5 31
5 35
5 37
5 41
5 43
5 47
5 49
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [6]:

my_list = [10, 5, 20, 15, 30, 25]
sorted_list = sorted(set(my_list))
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

In [7]:
my_list = [2, 4, 6, 8, 10]
squared_list = [x ** 2 for x in my_list]
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

In [9]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

my_dict = {element: index for index, element in enumerate(my_list)}
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [11]:
import random
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(my_list)
print("Shuffled list:", my_list)

Shuffled list: [1, 6, 8, 9, 2, 3, 4, 5, 7, 10]

In [1]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        fact = n * factorial(n - 1)
    return fact
factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [2]:
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [3]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print("Empty list:", my_list)

Empty list: []

In [4]:
my_list = [10, -5, 20, -15, 30, -25]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [5]:
my_string = "Hello, this is a sample sentence."
word_list = my_string.split()
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [6]:
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

In [7]:
n = 5
power_list = [2 ** i for i in range(n)]
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [8]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
print("Longest string:", longest_string)

Longest string: elderberry

In [9]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
shortest_string = string_list[0] 
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
print("Shortest string:", shortest_string)

Shortest string: date

In [10]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 5
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [11]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [12]:

my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

In [1]:
#set

In [2]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [3]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
element_to_add = 6
my_set.add(element_to_add)
print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

In [5]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
element_to_remove= 5
my_set.remove(element_to_remove)
print("Set after removing element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after removing element: {1, 2, 3, 4}

In [6]:

my_set = {1, 3, 5, 7, 9}
element_to_check = int(input("Enter the element to check: "))
if element_to_check in my_set:
 
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  5

5 exists in the set.

In [7]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}
count = 0
for _ in my_set:
    count += 1
print("Length of the set:", count)

Length of the set: 5

In [3]:
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Clear all elements from the set using the clear() method
my_set.clear()

# Step 4: Display the set after clearing
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

In [4]:
even_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10
for num in range(1, 11):
    # Step 3: Check if the number is even
    if num % 2 == 0:
        even_numbers_set.add(num)
print(even_numbers_set)

{2, 4, 6, 8, 10}

In [8]:
odd_numbers_set = set()
for num in range(1, 11):
    if num % 2 != 0:
        odd_numbers_set.add(num)
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [9]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_result = set1.union(set2)

print("Union of Set 1 and Set 2:", union_result)

Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_result = set1.intersection(set2)

print("Union of Set 1 and Set 2:", intersection_result)

Union of Set 1 and Set 2: {4, 5}

In [11]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
difference_result = set1.difference(set2)

print("Union of Set 1 and Set 2:", difference_result)

Union of Set 1 and Set 2: {1, 2, 3}

In [12]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

In [13]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_superset = set2.issuperset(set2)
print("Is set1 a subset of set2:", is_superset)

Is set1 a subset of set2: True

In [14]:
my_list = [2, 4, 1, 4, 3, 2, 5]
my_set = set(my_list)
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

In [17]:
# Step 1: Create a set with some elements
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

# Step 2: Convert the set to a list using the list() function
my_list = list(my_set)

# Now, my_list contains the elements from my_set in list format

# Step 3: Print the original set and the converted list
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

In [18]:
import random 
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 4 : {1, 2, 3, 5}

In [26]:
my_set = {1,3,5,7}
my_set.pop()

my_set

{3, 5, 7}

In [27]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
common_elements = set1.intersection(set2)
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [28]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference = set1 ^ set2
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [29]:

set1 = {1, 2, 3}
print("Set 1:", set1)
set2 = {3, 4, 5}
print("Set 2:", set2)
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [30]:

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):

        prime_set.add(num)
    num += 1
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [31]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4} 
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [32]:
elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [33]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [34]:
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

In [35]:
original_set = {1, 2, 3, 4, 5}
even_numbers_set = set()

for num in original_set:

    if num % 2 == 0:
        even_numbers_set.add(num)
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [39]:
original_set = {1, 2, 3, 4, 5}
multiplied_set = set()
for num in original_set:
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)

print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [40]:
import random
num_random_numbers = 5
random_number_set = set()
for _ in range(num_random_numbers):
    random_num = random.randint(1, 100)  
    random_number_set.add(random_num)
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {71, 7, 43, 51, 84}

In [41]:

my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [44]:
my_set = {1, 2, 3, 4, 5}
print("Initial set:", my_set)
element_to_remove = 6
my_set.discard(element_to_remove)
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 6 : {1, 2, 3, 4, 5}

In [45]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}


is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [1]:
input_string = "hello"
char_set = set(input_string)
print(char_set)

{'o', 'h', 'e', 'l'}

In [2]:
string_set = {"12", "56", "79"}

#Initialize an empty set to store integers
integer_set = set()
for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)

# Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'12', '56', '79'}
Converted Integer Set: {56, 12, 79}

In [3]:
integers_set = {1, 2, 3}
strings_set = set()
for num in integers_set:
    num_str = str(num)
    strings_set.add(num_str)
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3}
Converted strings_set: {'3', '1', '2'}

In [4]:
input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

In [7]:
my_set = {15, 7, 2,6,67}

max_value = None
for num in my_set:
    if max_value is None or num > max_value:
        max_value = num  
print("Maximum value:", max_value)

Maximum value: 67

In [8]:
my_set = {15, 7, 2,6,67}

min_value = None
for num in my_set:
    if min_value is None or num < min_value:
        min_value = num  
print("Maximum value:", min_value)

Maximum value: 2

In [9]:
user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ") 
    if user_input.lower() == 'done':
        break 
    user_set.add(user_input)
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  niki yadav DONE
>
>  done

Final set: {'', 'niki yadav DONE'}

In [10]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [12]:
fibonacci_set = set()
a, b = 0, 1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [13]:
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
unique_set = set(original_list)
unique_list = list(unique_set)
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [14]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [16]:
def generate_powers_of_2(n):
    powers_of_2 = set()
    for i in range(n):
        power = 2 ** i
        powers_of_2.add(power)
    return powers_of_2
n = 10
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{32, 1, 2, 64, 4, 128, 256, 512, 8, 16}

In [17]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
list_to_set = set(my_list)
common_elements = []
for element in my_set:
    if element in list_to_set:
        common_elements.append(element)
        
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [18]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  
        triangular_numbers.add(triangular_number)  
    return triangular_numbers
n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  8

The set of the first 8 triangular numbers is: {1, 3, 36, 6, 10, 15, 21, 28}

In [19]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [22]:
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1) 
        else:
            alternating_set.add(0) 

    return alternating_set
length_n = 14
result = create_alternating_set(length_n)
print(result)

{0, 1}

In [21]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}